
.adminForm{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.adminForm input, .adminForm textarea{
    margin: 5px 0px;
    font-size: 14px;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgb(17, 17, 17);
}

.adminForm button{
    color: white;
    background: #111827;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 5px;
    cursor: pointer;
}