@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container{
  max-width: 960px;
  padding: 15px;
  margin: 0 auto;
}
