.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    padding: 0px 20px;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    background-color: white;
}

.navbar a.brand{
    font-size: 14px;
    font-weight: 600;
    color: #374151;
}

.navbar li{
    display: inline;
    list-style: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
}